.wrapper {
        max-width: 600px;
        margin: 0 auto;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin: 0 auto;
        // text-align: center;
        // height: 50vh;
        // justify-content: space-evenly;
}

.home {
        
        // margin-top: 10vh;
        display: flex;
        justify-content: center;
}

