
.wrapper {
        max-width: 600px;
        // height: 600px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        margin-top: 10vh;
}

.outer {
        
}

.footer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
}