.action {
  // padding: 1rem;
  display: flex;
  justify-content: center;
  padding: calc(3rem + 1vh + 1vw) 0;
  padding-bottom: calc(4rem + 1vh + 1vw);
  // font-size: 2rem;
}

.cWrapper {
  // margin-top: 2rem;
  margin-bottom: 4rem;
}

