.wrapper {
        display: flex;
        align-items: center;
        font-size: 2rem;
}
.wrapper span {
        position: relative;
        /* font-family: ProximaNo; */
        left: -5px;
font-style: normal;
font-weight: 700;
font-size: 30px;
/* line-height: 36px; */

/* identical to box height, or 112% */

letter-spacing: -1px;
text-transform: capitalize;

}
