.wrapper {
  display: flex;
  margin-bottom: 1.5rem;
  /* justify-content: ; */
}

.info {
  white-space: nowrap;
  flex: 1;
  /* display: flex; */
  margin-top: 4.5rem;
}

.info h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-style: normal;
  /* white-space: nowrap; */
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  /* identical to box height, or 127% */

  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: #262d3d;
}

.info p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin: 1.5rem 0;

  color: #455065;
}

.info h1 u {
  /* padding-bottom: 1rem; */
  text-decoration: none;
  padding-bottom: 0.4em;
  border-bottom: 2px solid;
}

.image {
  flex: 2;
}

.image img {
  width: 100%;
}

@media only screen and (max-width: 860px) {
  .wrapper {
    
    flex-direction: column;
  }
  .image {
    margin-top: 2rem;
  }
  .button {
    /* margin: 0 !important; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
  }

  .info {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
  }

}

@media only screen and (max-width: 1024px) {

  .info h1 {
    font-size: 40px;
    line-height: 52px;
  }

  .info p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 480px) {

  .info h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .info p {
    font-size: 14px;
    line-height: 26px;
  }
}


@media only screen and (max-width: 480px) {

  .info h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .info p {
    font-size: 14px;
    line-height: 26px;
  }
}